<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860577977522-a9j5n00tk9u4fs1dg3fu2nf6au4saqaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860577977522-a9j5n00tk9u4fs1dg3fu2nf6au4saqaa</string>
	<key>API_KEY</key>
	<string>AIzaSyAMYiKGvQMRjlh_NF4B2cVZyG-76TIRmAU</string>
	<key>GCM_SENDER_ID</key>
	<string>860577977522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omer.ZeZeOZeZe</string>
	<key>PROJECT_ID</key>
	<string>pajamasgame-1997a</string>
	<key>STORAGE_BUCKET</key>
	<string>pajamasgame-1997a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860577977522:ios:dc78ebf42ee9482d5ce5ab</string>
</dict>
</plist>